@model BL.Models.Utilisateur
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="./css/vendor/bicon.min.css">
    <!-- Flat Icon CSS -->
    <link rel="stylesheet" href="./css/vendor/flaticon.css">
    <!-- audio & video player CSS -->
    <link rel="stylesheet" href="./css/plugins/plyr.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="./css/plugins/slick.min.css">
    <!-- nice-select CSS -->
    <link rel="stylesheet" href="./css/plugins/nice-select.css">
    <!-- perfect scrollbar css -->
    <link rel="stylesheet" href="./css/plugins/perfect-scrollbar.css">
    <!-- light gallery css -->
    <link rel="stylesheet" href="./css/plugins/lightgallery.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body class="bg-transparent">

<main>
    <div class="main-wrapper pb-0 mb-0">
        <div class="timeline-wrapper overflow-hidden">
            <div class="timeline-header">
                <div class="container-fluid p-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6">
                            <div class="timeline-logo-area d-flex align-items-center">
                                <div class="timeline-logo">
                                    <a href="index.html">
                                        <img src="./images/logo/logo.png" alt="timeline logo">
                                    </a>
                                </div>
                                <div class="timeline-tagline">
                                    <h6 class="tagline">Blinky Boys is an Online Forum that helps you Connect & Interact with Other users .</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="timeline-page-wrapper">
                <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="timeline-bg-content bg-img" data-bg="./images/timeline/logo.jpg">
                                <h6 class="timeline-bg-title">Let’s see what’s happening to you. Welcome to Blinky Boys.</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                            <div class="signup-form-wrapper">
                                <h1 class="create-acc text-center">Create An Account</h1>
                                <div class="signup-inner text-center">
                                    <h3 class="title">Welcome to Blinky Boys</h3>
                                    <form asp-action="AddUser" method="post" class="signup-inner--form">
                                        <div class="row">
                                            <div class="col-12">
                                                <input type="email" asp-for="mail" class="single-field" placeholder="Email">
                                            </div>  <div class="col-12">
                                                <input type="text" asp-for="username" class="single-field" placeholder="What should we call you ?">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" asp-for="nom" class="single-field" placeholder="First Name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" asp-for="prenom" class="single-field" placeholder="Last Name">
                                            </div>
                                            <div class="col-12">
                                                <input type="password" asp-for="pwd" class="single-field" placeholder="Password">
                                            </div>
                                            <div class="col-12">
                                                <input type="text" asp-for="phone" class="single-field" placeholder="Phone">
                                            </div> <div class="col-12">
                                                <input type="text" asp-for="adresse" class="single-field" placeholder="Adress">
                                            </div>

                                            <div class="col-12">
                                                <select  class="nice-select" name="Country">
                                                    <option value="trending">Country</option>
                                                    <option value="Tunisia">Tunisia</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="Marocco">Marocco</option>
                                                    <option value="Egypt">Egypt</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <button class="submit-btn" type="submit">Create Account</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- JS
============================================ -->

<!-- Modernizer JS -->
<script src="./js/vendor/modernizr-3.6.0.min.js"></script>
<!-- jQuery JS -->
<script src="./js/vendor/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="./js/vendor/bootstrap.bundle.min.js"></script>
<!-- Slick Slider JS -->
<script src="./js/plugins/slick.min.js"></script>
<!-- nice select JS -->
<script src="./js/plugins/nice-select.min.js"></script>
<!-- audio video player JS -->
<script src="./js/plugins/plyr.min.js"></script>
<!-- perfect scrollbar js -->
<script src="./js/plugins/perfect-scrollbar.min.js"></script>
<!-- light gallery js -->
<script src="./js/plugins/lightgallery-all.min.js"></script>
<!-- image loaded js -->
<script src="./js/plugins/imagesloaded.pkgd.min.js"></script>
<!-- isotope filter js -->
<script src="./js/plugins/isotope.pkgd.min.js"></script>
<!-- Main JS -->
<script src="./js/main.js"></script>

</body>

</html>